<section
  class="container bg-main-light show rounded-4 px-5 my-5 overflow-hidden"
>
  <h1 class="text-center text-main my-2">Forget Password</h1>
  @if (step==1) {
  <form [formGroup]="verifyEmail" (ngSubmit)="emailSubmit()">
    <div class="dash-input-wrapper my-2">
      <label for="email" class="mb-30">Email*</label>
      <input
        class="form-control"
        type="email"
        placeholder="Enter your email..."
        id="email"
        formControlName="email"
      />
    </div>
    <button [disabled]="verifyEmail.invalid" class="btn-main my-4">
      Verify Email
    </button>
  </form>
  } @else if (step==2) {
  <form [formGroup]="verifyCode" (ngSubmit)="codeSubmit()">
    <div class="dash-input-wrapper my-2">
      <label for="restcode" class="mb-30">Resy Code*</label>
      <input
        class="form-control"
        type="text"
        placeholder="Enter your Code..."
        id="restcode"
        formControlName="restCode"
      />
    </div>
    <button [disabled]="verifyCode.invalid" class="btn-main my-4">
      Verify Code
    </button>
  </form>
  } @else if (step==3) {
  <form [formGroup]="restPassword" (ngSubmit)="restPass()">
    <div class="dash-input-wrapper my-2">
      <label for="email" class="mb-30">Email*</label>
      <input
        readonly
        class="form-control"
        type="email"
        placeholder="Enter your email..."
        id="email"
        formControlName="email"
      />
    </div>
    <div class="dash-input-wrapper my-2">
      <label for="password" class="mb-30">New Password*</label>
      <input
        class="form-control"
        type="password"
        placeholder="Enter your password..."
        id="password"
        formControlName="newPassword"
      />
    </div>
    <button [disabled]="restPassword.invalid" class="btn-main my-4">
      Verify Email
    </button>
  </form>
  }
</section>
